//@import url('https://use.fontawesome.com/248bf73acb.css')
//@import '../../node_modules/ionicons-npm/css/ionicons.min.css'
@import url('https://fonts.googleapis.com/icon?family=Material+Icons')
@import url('https://use.fontawesome.com/releases/v5.0.6/css/all.css')

.Falk.Icon{
  font-size: inherit;
  line-height: 1em;
  height: 1em;

  display: inline-block;
  padding-bottom: 0.2em;
//  area-hidden: true;
}
