@media(max-width 600px)
  .Main
    padding 10px

  .Center
    line-height 45px
  .Center, h1
    font-size 30px !important

  h2
    font-size 25px !important

  h3, p, a, td
    font-size 20px !important
