@media(max-width 600px)
  .Main
    padding 10px

  main
    padding-top 100px

  .Title
    width 100%
    line-height 45px
    text-align center
    
  .Title, h1
    font-size 30px !important
  


  h2
    font-size 25px !important

  h3, p, a, td
    font-size 20px !important
