white = white
dark =  #011936
violet = #5C6BC0
blue = #3366CC
darkblue = #1F5EA8
green = #069B81
orange = #E98931

fontPrimary = Nunito Sans, sans-serif

shadowPrimary = 0px 2px 1px -1px rgba(0, 0, 0, 0.2) inset, 0px 1px 1px 0px rgba(0, 0, 0, 0.14) inset, 0px 1px 3px 0px rgba(0, 0, 0, 0.12) inset;
